.admission-signoff-wrapper[data-v-d193646e]{display:flex;flex-direction:column;gap:1rem}.neonatal-admission-signoff-page[data-v-b6e6d1fe]{min-height:100vh}.signoff-container[data-v-b6e6d1fe]{max-width:900px;margin:0 auto}
