.second_bar[data-v-eb820826]{background-color:#fff;margin:0 0 20px;border-radius:unset;width:100%;z-index:1000}.second_bar_list[data-v-eb820826]{list-style:none;justify-content:space-between;display:flex;font-size:16px;padding:18px}
