.checkpoint-container[data-v-162d27fd]{max-width:900px;margin:0 auto}.control-buttons[data-v-162d27fd]{margin-top:24px;display:flex;flex-direction:column;gap:12px}ion-button[data-v-162d27fd]{font-weight:500}
