.checkpoint-container[data-v-b5c9d613]{max-width:900px;margin:0 auto}.control-buttons[data-v-b5c9d613]{margin-top:24px;display:flex;flex-direction:column;gap:12px}ion-button[data-v-b5c9d613]{font-weight:500}
